.sendMail{
 position: absolute;
 bottom: 0px;
 right: 50px;
 background-color: white;
 width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border:1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}
.sendMail_header{
  padding: 13px;
  display:flex;
  justify-content: space-between;
    align-items: center;
    color: gray;
}
.sendMail_header > h3{
    color: #404040;
    font-size:13px;
}
.sendMail__send{
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin:15px !important
}
.sendMail__close{
cursor: pointer;
}
.sendMail__form{
    display: flex;
    flex-direction: column;
  flex:1;    background-color: white;

}

.sendMail > form > input{
    height: 30px;
    padding: 10px;
   border:none;
   outline: none;
   border-bottom: 1px solid whitesmoke;
       background-color: white;

}

.sendMail_message{
    flex:1;
}